body{
    background-color: black;
    height: 1400px;
}


/*SECTION 01*/
.petitBloc{
    height:60px ;
    width: 1020px ;
    background-color: grey ;
    margin: ;
    padding: ;
}

.moyenBloc{
    height: 320px ;
    width: 1020px ;
    background-color: whitesmoke ;
    margin: ;
    padding: ;
}

/*SECTION 02*/
.section02{
    background-color: white;
    height: 700px;

}

.moyenBlocFlotant{
    height: 90px ;
    width: 900px ;
    background-color: whitesmoke;
    margin: auto;
    margin-top: ;
    padding-top: ;
    border-top: ;
    border: ;
}